@model WebShop.ViewModels.HomeViewModel

<div class="container">
    <h2>Product Details</h2>
    <div class="row">
        <div class="col-md-4 mx-auto mt-4">
            <div>
                @if (Model.Products != null && Model.Products.Any())
                {
                    <div class="card">
                        <img src="@Model.Products.First().PictureUrl" class="card-img-top" alt="Product Image">
                        <div class="card-body">
                            <h5 class="card-title text-truncate overflow-hidden">@Model.Products.First().Name</h5>
                            <p class="card-text">Price: $@Model.Products.First().Price</p>
                            <br />
                            <p class="card-text text-truncate overflow-hidden">Description: @Model.Products.First().Description</p>
                        </div>
                    </div>
                    <div class="mt-3">
                        <a asp-action="Edit" asp-route-id="@Model.Products.First().Id" class="btn btn-primary">Edit</a>
                        <a asp-action="Delete" asp-route-id="@Model.Products.First().Id" class="btn btn-danger">Delete</a>
                    </div>
                }
                else
                {
                    <p>Product detail is not found</p>
                }
            </div>
        </div>
    </div>
</div>