@model WebShop.ViewModels.HomeViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Random Products</h2>

<ul>
    @foreach (var product in Model.Products)
    {
        <li>
            <a asp-controller="Product" asp-action="Index" asp-route-Id="@product.Id">
                @product.Name
            </a>
        </li>
    }
</ul>




@* @model List<HomeViewModel.Models.Product>

<h2>Products</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Category.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ProductId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ProductId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ProductId })
                </td>
            </tr>
        }
    </tbody>
</table>
 *@

@*
@model WebShop.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Product Index";
}

<h2>Products</h2>

@foreach (var category in Model.Categories)
{
    <div class="category-container">
        <h3>@category.Name</h3>

        <div class="row">
            @foreach (var product in Model.Products.Where(p => p.CategoryId == category.Id))
            {
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">@product.Name</h5>
                            <p class="card-text">Price: $@product.Price</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
*@


@* @model WebShop.ViewModels.HomeViewModel

<h2>Products</h2>

<div class="row">
    @foreach (var tuple in Model.Products)
    {
        var product = tuple.Item1;
        var categoryIds = tuple.Item2;

        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">Price: @product.Price</p>

                    @if (categoryIds != null && categoryIds.Any())
                    {
                        <p class="card-text">Categories:</p>
                        <ul>
                            @foreach (var categoryId in categoryIds)
                            {
                                <li>@categoryId</li>
                            }
                        </ul>
                    }
                </div>
            </div>
        </div>
    }
</div> *@
